extends layout.pug

block content
  h1.text-center= name

  include images.pug

  div.row
    div.col-md-4.justify-content-center.grow.animate#ingredients
      a.fadeOut
        h2.text-center Zutaten
      div.h-100.o-hidden#inglist
        ul.list-unstyled
          each ingredient in ingredients
            li(class= ingredient.id + " ingredient min-w")= (ingredient.amount ? ingredient.amount + " " : "") + ingredient.name
        if portions
          h5= portions

    div.col-sm-12.col-md-1.d-none.animate#ingredients-vert.vert
      a.fadeIn
        h2.text-center Zutaten

    div.col-sm-12.col-md-8.shrink.animate#preparation
      h2 Zubereitung
      each step in preparation
        p!= step
    div.col-md-11.shrink.d-none.animate#preparation-amounts
      h2 Zubereitung
      each step in preparationAmounts
        p!= step
