extends layout.pug

block content
  h1.text-center= name

  if images
    div.row.images

      mixin img(file)
        div.lazy.recipeLink(data-src=('/images/' + file))

      if images.length == 1
        div.recipeImage.col-12.col-sm-10.offset-sm-1.col-lg-6.offset-lg-3.recipeLinkDiv
          +img(images[0])
      else
        div.recipeImage.col-6.recipeLinkDiv
          +img(images[0])
        div.recipeImage.col-6.recipeLinkDiv
          +img(images[1])

  div.row
    div.col-md-4.justify-content-center.grow.animate#ingredients
      a(onclick="fadeOutIngredients()")
        h2.text-center Zutaten
      div.h-100.o-hidden#inglist
        ul.list-unstyled
          each ingredient in ingredients
            li(class= ingredient.id + " ingredient min-w")= (ingredient.amount ? ingredient.amount + " " : "") + ingredient.name
        if portions
          h5= portions

    div.col-sm-12.col-md-1.d-none.animate#ingredients-vert.vert
      a(onclick="fadeInIngredients()")
        h2.text-center Zutaten

    div.col-sm-12.col-md-8.shrink.animate#preparation
      h2 Zubereitung
      each step in preparation
        p!= step
    div.col-md-11.shrink.d-none.animate#preparation-amounts
      h2 Zubereitung
      each step in preparationAmounts
        p!= step
